@media screen and (max-width: 877px) {
}
@media screen and (max-width: 768px) {
  header {
    .showcase {
      grid-template-columns: 1fr;

      &__mssg {
        order: 2;
        text-align: center;
      }
      &__img {
        order: 1;
      }
    }
  }
  // .showcase .grid-item {
  //   grid-template-columns: 1fr;
  // }

  main {
    .values {
      grid-template-columns: 1fr;
      &__mssg {
        text-align: center;
      }
      &__items {
        .values__item {
          &-header {
            background-color: $pale-color;
            background-clip: padding-box;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
}
