@media (max-width: 877px) {
}

@media (max-width: 768px) {
  header {
    .main-nav {
      &__burger {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .close {
        display: none;
      }

      &__burger.open {
        .burger {
          display: none;
        }

        .close {
          display: block;
        }
      }
      &__cta {
        display: none;
      }
    }
    .showcase {
      grid-template-columns: 1fr;
      &__mssg {
        order: 2;
      }
      &__img {
        order: 1;
      }
    }
  }
  main {
    .values {
      grid-template-columns: 1fr;

      &__mssg {
        text-align: center;
        p {
          padding-right: 0;
        }
      }
      &__item {
        &-header {
          background-color: $pale-color;
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
}
