@import "_utilities";
// @use 'utilities' as *;

// Header
header {
  //   border: solid black;
  background-image: url("../images/bg-tablet-pattern.svg");

  .main-nav {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .logo {
      align-self: center;
      display: flex;
      align-items: center;
    }
    &__items {
      display: flex;
      align-self: center;
    }
    &__item {
      margin: 0 0.5rem;
    }
    &__link {
      color: $dark-color;
      &:hover {
        color: rgba(29, 30, 37, 0.5);
      }
    }
  }
  // Showcase section
  .showcase {
    border: solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
