@import "_utilities";

// @use 'utilities' as *;
// Header
header {
  //   border: solid black;
  background-image: url("../images/bg-tablet-pattern.svg");

  .main-nav {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .logo {
      align-self: center;
      display: flex;
      align-items: center;
    }
    &__items {
      display: flex;
      align-self: center;
    }
    &__item {
      margin: 0 0.5rem;
    }
    &__link {
      color: $dark-color;
      &:hover {
        color: rgba(29, 30, 37, 0.5);
      }
    }
  }
  // Showcase section
  .showcase {
    &__mssg {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 3rem;
      h1 {
        font-size: 3rem;
      }
      p {
        margin: 2rem 0;
        padding-right: 3rem;
      }
    }
  }
}

main {
  // Values Section
  .values {
    &__mssg {
      h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
      p {
        padding-right: 8rem;
      }
    }
    &__items {
      // width: 580px;
      .values__item {
        display: flex;
        justify-content: space-around;
        &-num {
          p {
            background-color: $primary-color;
            color: $light-color;
            padding: 0.5rem 1.2rem;
            border-radius: 2rem;
          }
        }
        &-mssg {
          width: 80%;
          &__header {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.action {
  padding: 60px 0;
  background-color: $primary-color;
  background-image: url(/images/bg-simplify-section-desktop.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100px -150px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    color: $pale-color;
    max-width: 440px;
    line-height: 1.2;
    font-weight: 700;
    font-size: 2rem;
  }

  #action__btn {
    @include cta();
    box-shadow: none;
    color: $primary-color;
    background-color: $pale-color;
    padding: 0.8rem 2rem;
    width: 160px;
    height: 45px;
    font-size: 14px;
    font-weight: 700;
  }
}

.footer {
  background-color: $dark-color;
  // height: 379px;
  padding: 60px 0;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "smedia links form" "smedia links copyright";
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    margin: 0 auto;
  }
  .footer-smedia {
    grid-template-areas: smedia;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo {
      fill: #fff;
    }

    &__links a {
      margin-right: 10px;
    }

    &__icon {
      fill: #fff;
    }

    &__icon:hover {
      fill: $primary-color;
    }
  }

  .footer-links {
    // grid-area: links;
    column-count: 2;
    // column-gap: 130px;

    &__item a {
      color: $light-color;
    }

    &__item a:hover {
      color: $primary-color;
    }
  }
  .footer-form {
    grid-template-areas: form;
    justify-self: end;
  }
  .footer-form input {
    width: 240px;
    // height: 45px;
    border-radius: 2rem;
    font-size: 12px;
    padding: 0.6rem 2rem;
    margin-right: 10px;
  }
  .footer-copyright {
    grid-area: copyright;
    color: #fff;
    justify-self: flex-end;
    font-size: 14px;
  }
}
